body {
  background-color: #000f30;
  font-size: 1rem;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.container > div {
  --delay: calc(0.1s * var(--d));
  position: absolute;
  opacity: 0;
  font-size: 0.25rem;
  filter: blur(1px);
  animation: warp 3s cubic-bezier(0.77, 0, 0.175, 1) var(--delay) infinite alternate;
}

@keyframes warp {
  to {
    opacity: 1;
    transform: rotate(360deg) scale(10) translate(calc(0.02vmin * var(--x)), calc(0.02vmin * var(--y)));
    filter: blur(0.01px);
  }
}
